*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Helvetica',sans-serif;
	font-weight: 500;
}



#header{
	background: white;
	border: 1px solid black;
	position: fixed;
	left: 50%;
	transform:translate(-50%);
	z-index: 5;

}

#home-logo{
	position: fixed;
	left: 2em;
	top: 0.5em;
	height: 50px;

}

#header li{
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	padding: 1em;
	font-size: 15px;
	font-padding: 1em 0.5em;
	text-align: center;


}

.dark{
	background: black;
	min-height: 13vh;
	
}



/*#header{
	height: 6vw;
	top: 0;
	width: 100vw;
	background: black;
	position: fixed;
}

#header img{
	left: 5vw;
	top: 3px;
	z-index: 1;
}*/

/*.container{
	cursor: pointer;
	float: right;
	margin-top: 20px;
	margin-right: 20px;

	
}

.bar1{
	width: 3vw;
	height: 0.5vw;
	background-color: black;
	margin: 6px 0;
	transition: 0.4s;
}

.bar1:hover, .bar2:hover{
	background-color: #f7941d;
}

.bar2{
	width: 2vw;
	height: 0.5vw;
	background-color: black;
	margin: 6px 0;
	transition: 0.4s;
}


.menu{
	font-size: 25px;
	color: black;

}

.menu:hover{
	color:#f7941d ;
}*/

/*.navbar{
	height: 4vw;
	width: 40vw;
	top: 0;
	background: white;
	margin: auto;
	z-index: 2;
}

*/

.block1{
	height: 40vw;
	width: 100vw;
	background: black;
	margin: auto;
	z-index: 1;
}

h1{
	color: white;
	font-weight: bold;
	text-align: center;
	font-padding: 2em;
	font-size: 80px;
}

}
.block2{
	height: 40vw;
	width: 100vw;
	background: white;
}

.text-container{
	height: 30vw;
	width: 40vw;
	background-color: white;
	margin-left: 15vw;
	margin-top: 5vw;
	margin-bottom: 10vw;
	padding: 5vw;

}
.h2{
	font-size: 70px;
	color: black;
	text-decoration: underline 8px solid #black;
	margin: auto;
}
.block3{
	height: 40vw;
	width: 100vw;
	background: black;
	margin: auto;
}

.mission{
	height: 30vw;
	width: 80vw;
	margin: auto;
	padding: 5vh;
	font-size: 90px;
	color: white;
}

